# Дополнительное задание. Библиотека Pandas
В этом задании вы проанализируете данные из Appstore

<img src="https://drive.google.com/uc?export=view&id=1F1Qajgj-dC4o4VI3Wm7fIGlOJA0a60_B" width=300 height=300>

In [ ]:
#!pip install pandas

In [1]:
import pandas as pd
import numpy as np

### Данные для задания: https://drive.google.com/file/d/1JVVkVH5PysaGwULKZKFRVZTc6n4psAvW/view?usp=sharing

In [2]:
data = pd.read_csv('https://drive.google.com/uc?id=1JVVkVH5PysaGwULKZKFRVZTc6n4psAvW')

Посмотрим, что же такое переменная `data`:

In [3]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

## Задание 1
Сколько всего половозрастных категорий (наборов данных из столбцов пол и возраст)?

In [ ]:
# Ваш код здесь

## Задание 2
Сколько строк с женщинами из категории города С с семейным положением категории 0? (речь не об уникальных ID женщин, а о количестве строк)

In [ ]:
# Ваш код здесь

## Задание 3
Сколько мужчин от 36 до 45, потративших (столбец Purchase) больше 15799 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [ ]:
# Ваш код здесь

## Задание 4
Сколько строк, в которых NaN'ы находятся одновременно в столбце Product_Category_2 и Product_Category_3?

In [ ]:
# Ваш код здесь

## Задание 5
Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [ ]:
# Ваш код здесь

## Задание 6
Создайте pandas.DataFrame, отображающий половозрастную структуру покупателей. Столбцы - Age, F И M, в ячейках -  отношение данной категори ко всем пользователям в процентах.

In [ ]:
# Ваш код здесь

## Задание 7 (*)
Реализуйте функцию my_std, принимающую на вход pandas.Series (один столбец pandas.Dataframe) и возвращает число. Сравните ваш результат и вычисленный с помощью метода describe().

In [ ]:
def my_std(input_series):
  # Ваш код здесь

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно гуглить, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).